<h2 class="top-heading">ようこそ<span class="font_test"> Bookers </span>へ！</h2>
<div class="top">
  <p><span class="font_test">Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
     印象を共有し交換することができます</p>
<a href="books">start</a>
</div>


